@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat Alternates", sans-serif;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
}

.button {
  color: black;
  padding: 12px 24px;
  border-radius: 8px;
  border: 2px solid black;
}
.button:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.red-text {
  color: #CD4631;
}

@-webkit-keyframes marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes marquee2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 120px 0;
}

.cards1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: marquee1 100s infinite linear;
          animation: marquee1 100s infinite linear;
  -webkit-animation-delay: -100s;
          animation-delay: -100s;
}

.cards2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: marquee2 100s infinite linear;
          animation: marquee2 100s infinite linear;
  -webkit-animation-delay: -50s;
          animation-delay: -50s;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.cards__img {
  width: 373px;
}

.header {
  background-color: #F7EDE8;
  padding: 24px 0 140px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__img {
  margin-right: 123px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
  margin-right: 300px;
}
.header__nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.header__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bg-img1 {
  position: absolute;
  right: 80%;
}
.header__bg-img2 {
  position: absolute;
  left: 85%;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 513px;
  margin-top: 64px;
}
.header__text_title {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 40px;
}
.header__text_subtitle {
  width: 374px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 60px;
}
.header__text_button {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 24px 48px;
}
.header__platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  margin: 0 auto;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.header__platform_text {
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 26px 0;
}
.header__platform__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 132px;
  gap: 20px;
}
.header__platform__container_img {
  padding: 25px 74px;
}